/* globales */
html{
    font-weight: 300;
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Tofino-Regular';
    color: #22333B;
    background: rgb(126,206,202);
    background: linear-gradient(90deg, rgba(126,206,202,0.7) 0%, rgba(199,237,232,1) 40%,  rgba(199,237,232,1) 60%, rgba(126,206,202,0.7) 100%);
}
:root{
    --color-primario-1: #1693A5;
    --color-primario-2: #45B5C4;
    --color-primario-3: #7ECECA;
    --color-primario-4: #C7EDE8;
    --color-secundario-1: #22333B;
    --color-secundario-2: #DDE6E8;
    --color-secundario-3: #F3F6F7;
}
/* el selector html y body, hacen que 1 rem sean 10 pixeles */
/* box-sizing ayuda a que padding no se sume al tamaño de px */

.contenedor{
    margin: 0 auto;
}
h1{
    font-size: 4rem;
 }
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}

p{
    font-size: 2rem ;
}
li{
    font-size: 2rem ;
}

body{
    background-color: #F3F6F7;
}

footer{
    background-color: #22333B;
}

/* clase para delimitar ancho del contenido responsive */
.margen-main {
    text-align: center;
    margin: 0 auto;
}
@media only screen and (max-width: 700px) {
    .margen-main {
        width: 90vw;
    }
}
@media only screen and (min-width: 701px) and (max-width: 900px) {
    .margen-main {
        width: 670px;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1100px) {
    .margen-main {
        width: 800px;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1400px) {
    .margen-main {
        width: 950px;
    }
}
@media only screen and (min-width: 1401px) {
    .margen-main {
        width: 1100px;
    }
}

/* navbar */
#espacio-navbar {
    height: 90px;
    width: 50vw;
}
.navbar{
    background-color:  #22333B;
    font-size: 2.5rem;
    padding: 1rem 0;
    height: 90px;
    width: 100vw;
    position: fixed;
    z-index: 10;
}
.nav-link{
    color: #C7EDE8 !important;
}
.navbar a:hover{
    color: #45B5C4 !important;
    text-decoration: underline #45B5C4 0.2rem;
    transition: 0.3s;
}
.navbar-toggler{
    background-color: #1693A5;
}

.logo__nav{
    height: min(70px , 10vh);
}


.logo__nav:hover{
    transition: 0.3s;
    opacity: 0.5;
}

/* home */

#home {
    height: max(calc(100vh - 90px),500px);
}
.carousel{
    height: calc(100vh - 90px);
}
.carousel-inner{
    height: 100%;
}
.carousel-item {
    height: 100%;
    background-size: cover;
    background-position: center;
}
#slide1{
    background-image: url("../img/home1.jpg");
}
#slide2{
    background-image: url("../img/home2.jpg");
}
#slide3{
    background-image: url("../img/home3.jpg");
}
.bienvenida{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    top: 20vh;

    z-index: 10;
    background-color: #22333be3;
    color: #cccfcf;
    border-radius: 50px;
    font-family: 'Tofino-Regular';
    
    display: grid;
    gap: 2rem;
    padding: 5vh 0;
}
.bienvenida div{
    margin: auto;
    padding: 0 min(7% , 20px);
}
.bienvenida img{  
    height: 15rem;
    margin: auto;
    padding: 0 min(7% , 20px);
}
.bienvenida b{
    font-family: 'Tofino-black';
    color: #F3F6F7;
}
@media only screen and (min-width: 701px) {
    .bienvenida{
        grid-template-columns: 1.4fr 0.6fr;
        grid-template-rows: 1fr;
        top: 40vh;
    }
    .bienvenida img{  
        height: 25rem;
    }
}

/* profesor */
#profesor{
    height: max(calc(100vh - 90px),500px);
    display: flex;
    align-items: center;
}
.profesor{
    border-radius: 30px;
    background-color: var(--color-primario-4);
    text-align: left;
    
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 1fr;
}
.profesor img{
    width: 100%;
    align-self: end;
}
.profesor .datos{
    padding: 7%;
}
.profesor h2{
    font-size: 4em;
    font-family: 'Tofino-Bold';
}
.profesor h3{
    font-size: 1.8em;
    font-family: 'Tofino-Bold';
    margin-bottom: 2rem;
}
.profesor li{
    font-size: 1.8em;
}
.profesor button{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #FFFFFF;
    border-color: var(--color-secundario-2);
    border-width: 3px;
    border-style: solid;
}
.profesor a{
    color: var(--color-secundario-1);
    font-size: 2em;
}
@media only screen and (max-width: 1100px) {
    .profesor li{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 900px) {
    .profesor {
        display: block;
        position: relative;
    }
    .profesor img{
        shape-outside: circle(50%) content-box  ;
        width: 200px;
        float: right;
        margin-right: 30px;
        margin-top: 230px;
        background-color: white;
        border-radius: 50%;
    }
}
@media only screen and (max-width: 700px) {
    .profesor img{
        width: 130px;
    }
}


/* beneficios */

.beneficios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.beneficios p{
    grid-row: 2/3
}

.beneficios a{
    grid-row: 3/3;
}

.beneficios img{
    width: 20rem;
}

/* Servicios */

.servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.servicios p{
    grid-row: 2/4;
}

.servicios img{
    width: 20rem;
}

/* testimonios */

.testimonios h2{
    text-align: center;
}

/* footer */
.contacto{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contacto a:hover{
    transition: 0.3s;
    opacity: 0.5;
}