/* globales */
html{
    font-weight: 300;
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Tofino-Regular';
}
/* el selector html y body, hacen que 1 rem sean 10 pixeles */
/* box-sizing ayuda a que padding no se sume al tamaño de px */

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1{
    font-size: 4rem;
 }
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}

p{
    font-size: 2rem ;
}
li{
    font-size: 2rem ;
}

body{
    background-color: #F3F6F7;
}

footer{
    background-color: #22333B;
}

.profe{
    font-size: 1.8rem;
}

/* clase para delimitar ancho del contenido responsive */
.margen-main {
    text-align: center;
    margin: 0 auto;
}
@media only screen and (max-width: 700px) {
    .margen-main {
        width: 90vw;
    }
}
@media only screen and (min-width: 701px) and (max-width: 900px) {
    .margen-main {
        width: 650px;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1100px) {
    .margen-main {
        width: 700px;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1400px) {
    .margen-main {
        width: 900px;
    }
}
@media only screen and (min-width: 1401px) {
    .margen-main {
        width: 1100px;
    }
}

/* navbar */
#home {
    height: 90px;
    width: 50vw;
}
.navbar{
    background-color:  #22333B;
    font-size: 2.5rem;
    padding: 1rem 0;
    height: 90px;
    width: 100vw;
    position: fixed;
    z-index: 10;
}
.nav-link{
    color: #C7EDE8 !important;
}
.navbar a:hover{
    color: #45B5C4 !important;
    text-decoration: underline #45B5C4 0.2rem;
    transition: 0.3s;
}
.navbar-toggler{
    background-color: #1693A5;
}

.logo__nav{
    height: min(70px , 10vh);
}


.logo__nav:hover{
    transition: 0.3s;
    opacity: 0.5;
}

/* carousel */

#slide1{
    background-image: url("../img/home1.jpg");
}
#slide2{
    background-image: url("../img/home2.jpg");
}
#slide3{
    background-image: url("../img/home3.jpg");
}

.carousel-item {
    height: calc(100vh - 90px);
    max-height: 80vw;
    background-size: cover;
    background-position: center;
}

/* bienvenida */

.bienvenida{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    
}

.bienvenida1{
    grid-column: 1/1;
}
.bienvenida2{
    grid-column: 1/2;
}
.bienvenida3{
    grid-column: 1/2;
}

.bienvenida img{
   
    width: 15rem; 
}


/* profesor */

.profesor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0.5rem;
}

.profesor h2{
    grid-column: 2/3;
}
.profesor ul{
    grid-column: 2/2;
}

.profesor a{
    grid-column: 2/2;

}

.profesor img{
    grid-row: 2/3;
    width: 30rem;
}


/* beneficios */

.beneficios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.beneficios p{
    grid-row: 2/3
}

.beneficios a{
    grid-row: 3/3;
}

.beneficios img{
    width: 20rem;
}

/* Servicios */

.servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.servicios p{
    grid-row: 2/4;
}

.servicios img{
    width: 20rem;
}

/* testimonios */

.testimonios h2{
    text-align: center;
}

/* footer */
.contacto{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contacto a:hover{
    transition: 0.3s;
    opacity: 0.5;
}